@import 
url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{
  
  background-color: lightgrey;  
  text-align:center;
  
}

h2 {
  border-right: solid 5px rgba(255,255,255,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  
  color: rgba(255,255,255,.70);
}


h2 {
  font-size: 319px;
  font-size: 3.5vw;
}

/* Animation */
h2 {
  animation: animated-text 4s linear 1s 1 normal both,
             animated-cursor 600ms linear infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 100%;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}






.header {
  padding: 6px;
  text-align: center;
 
  color:grey;
  font-size: 9px;
}



.col-container {

  display: table;
  width: 100%;

}


.col {

  display: table-cell;
  padding: 6px;
  text-align:center;
  border-radius: 25px;
   
}


.container {

  position: relative;
  width: 100%
  margin:auto;

}


.image {

  display: block;
  width: 60%;
  height: auto;
  margin:auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  
}


.overlay {

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:white;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;

}

.container:hover .overlay {

  width: 100%;

}

div{

  margin-top: 10px;
  
}



.text {

  white-space: nowrap; 
  color:black;
  font-size: 20px;
  font-size: 3.5vw;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  
}


* {
	box-sizing: border-box;
}
  
  /* Create two equal columns that floats next to each other */
.col {
	float: left;
	width: 50%;
	padding: 25px;
  
  height:auto;
  

	
}


/* Clear floats after the columns */
.col-container:after {
	content: "";
	display: flex;
	clear: both;
}
  


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.col {
	display:block;
  width: 100%;

}
